.sliderDiv{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.dashBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}


.eachSlider{
    margin-left: 30px;
}

.suprizeMe{
    border: none;
    border-radius: 10px;
    background-color: rgb(45, 51, 89);
    color: white;
    padding: 10px;
}

.suprizeMe:hover{
    box-shadow: 2px 3px #888888;
}

.percantageSpan{
    color: 	#FFBF00;
}