.sliderDiv{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.dashBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}


.eachSlider{
    margin-left: 30px;
}
