.todo.checked{
    text-decoration: line-through;
    color: green;
}

.todo{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    border: 1px solid grey;
    align-items: center;
    width: 500px;
    padding: 5px;
}

.todo p{
    margin-top: 10px;
}